// Button Component Stylesheet
// ========================================
.button {

  &--primary {
    width: 125px;
    padding: $spacer-m;
    background-color: $white;
    color: $green;
    border: 3px solid $green;
    border-radius: 25px;
    text-align: center;
    margin-right: $spacer-s;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  &--secondary {
    width: 125px;
    padding: $spacer-m;
    background-color: $white;
    color: $darkgrey;
    border: 3px solid $darkgrey;
    border-radius: 25px;
    text-align: center;
    margin-right: $spacer-s;

    &:hover {
      background-color: $darkgrey;
      color: $white;
    }
  }

  &--disabled {
    width: 125px;
    padding: $spacer-m;
    background-color: $grey;
    color: $white;
    border: 3px solid $grey;
    border-radius: 25px;
    text-align: center;
    opacity: .9;
  }
}
