// Button Component Stylesheet
// ========================================
.button {

  &--primary {
    @include button($white, $green, $green);
    @include font-type($primary-font, normal, 700);
    margin-left: $spacer-m;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  &--secondary {
    @include button($white, $darkgrey, $darkgrey);
    @include font-type($primary-font, normal, 700);
    margin-left: $spacer-m;

    &:hover {
      background-color: $darkgrey;
      color: $white;
    }
  }

  &--disabled {
    @include button($grey, $white, $grey);
    @include font-type($primary-font, normal, 700);
    opacity: .9;
    margin-left: $spacer-m;
  }
}
