// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label

.label { // NOTE: These should have class names -1 point
  @include font-type(Acumin Pro, normal, 300);
  font-size: 16px;
  color: $blue;
}

// Basic Form Input Styling
.input__text[type=text] { // NOTE: These should have class names -1 point
  @include font-type(Acumin Pro, normal, 300);
  font-size: 16px;
  color: $darkgrey;
  width: 100%;
  padding: $spacer-s;
  border: 2px solid $green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 10px 0;
  resize: vertical;
}
.input__email[type=email] { // NOTE: These should have class names -1 point
  @include font-type(Acumin Pro, italic, 300);
  font-size: 16px;
  color: $green;
  width: 100%;
  padding: $spacer-s;
  border: 2px solid $green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 10px 0;
  resize: vertical;

  &::placeholder {
    color: $errordk;
    background-color: $errorlt;
  }
}

// Select Form Input Styling

.input__select { // NOTE: These should have class names -1 point
  @include font-type(Acumin Pro, normal, 300);
  font-size: 16px;
  color: $blue;
  width: 100%;
  padding: $spacer-s;
  border: 2px solid $green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 10px 0;
  resize: vertical;
}
