// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label

.label {
  @include font-type($primary-font, normal, 900);
  font-size: 16px;
  color: $blue;
  margin-left: $spacer-m;
}

// Basic Form Input Styling

.input[type=text],.input[type=email],.input[type=tel],textarea, select {
  @include font-type($primary-font, normal, 300);
  font-size: 16px;
  color: $darkgrey;
  width: 95%;
  padding: $spacer-s;
  border: 2px solid $green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: $spacer-m $spacer-m;
  resize: vertical;

  &::placeholder {
    font-style: italic;
    font-size: 14px;
  }
}
// .input__email[type=email] {
//   @include font-type(Acumin Pro, italic, 300);
//   font-size: 16px;
//   color: $green;
//   width: 100%;
//   padding: $spacer-s;
//   border: 2px solid $green;
//   border-radius: 4px;
//   box-sizing: border-box;
//   margin: 6px 0 10px 0;
//   resize: vertical;
//
//   &::placeholder {
//     color: $errordk;
//     background-color: $errorlt;
//   }
// }

// Select Form Input Styling

.input__select {
  @include font-type(Acumin Pro, normal, 300);
  font-size: 16px;
  color: $blue;
  width: 100%;
  padding: $spacer-s;
  border: 2px solid $green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 10px 0;
  resize: vertical;
}
