.modal {
  position: absolute;
  /* width: 100%; */
  left: 0;
  right: 0;
  z-index: 9999;
  width: 315px;
  margin-left: auto;
  margin-right: auto;

  @include media($medium) {
    width: 400px;
  }

  &__container {
    background-color: $white;
    border: $spacer-s solid $yellow;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 $spacer-xs 8px 0 rgba(0,0,0,0.5), 0 7px 20px 0 rgba(0,0,0,0.25);
  }

  &__close {
    align-self: flex-end;
    margin: $spacer-s;
  }

  &__image {
    align-self: center;
    padding-top: $spacer-s;
  }


  &__header {
    margin-bottom: $spacer-m;

    &--h3 {
    text-align: center;
    }

    &--p {
      text-align: center;
    }
  }

  &__action-list {
    text-align: center;
    margin-bottom: $spacer-m;

    &__item {
      display: inline-block;
    }
  }

  &__label {
    margin-left: $spacer-m;
  }

  &__input {
    display: block;
    width: 100%;
  }

  &--active {
      opacity: 1;
      visibility: visible;
  }
}
