// TODO: WORKING ON STYLES, TRYING TO GET MODAL TO WORK - SEE BELOW FOR MORE
// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1000;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgb(0,0,0,.5);
//
//   &__content {
//     background-color: #fff;
//     border: 10px solid $yellow;
//     margin: 20% auto; /*moves box with content down 20% and auto left and right*/
//     width: 70%;
//     max-width: 600px;
//     box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
//     animation-name:modalopen;
//     animation-duration:1s;
//   }
//
//
//   &__closeBtn {
//     float: right;
//
//   }
//
//   &__header {
//     padding: $spacer-m;
//     background-color: #fff;
//
//     &__h3 {
//      margin: 0;
//    }
//   }
//
//   &__actions-list {
//
//     &__item {
//       display: flex;
//       justify-content: space-around;
//     }
//   }
//
//   &__input {
//     display: block;
//     width: 100%;
//   }
//
//   // &--active {
//   //
//   //   .modal__container {
//   //     opacity: 1;
//   //     visibility: visible;
//   //   }
//   // }
// }


.modal {
  display: none;
  position: fixed;
  z-index:1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal__content {
  background-color: #f4f4f4;
  margin: 20% auto; /*moves box with content down 20% and auto left and right*/
  width: 70%;
  max-width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal__header h3 {
  margin: 0;
}

.modal__header {
  background-color: $yellow;
  padding: 15px;
  color: #fff;
}

.modal__body {
  padding: 10px 20px;
  width: 70%;
  max-width: 500px;
}

.input {
  display: block;
  width: 50%;
}

.modal__actions-list__item {
      display: flex;
      justify-content: space-around;
}


.closeBtn {
  float: right;
}

@keyframes modalopen {
  from{opacity:0}
  to{opacity:1}
}
