.modal {
  position: relative;
  width: 100%;

  &__container {
    background-color: $white;
    border: 5px solid $yellow;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
  }

  &__close {
    align-self: flex-end;

  }

  &__header {
    margin-bottom: $spacer-m;
  }

  &__actions-list {

    &__item {
      display: flex;
      justify-content: space-around;
    }
  }

  &__input {
    display: block;
    width: 100%;
  }

  &--active {

    .modal__container {
      opacity: 1;
      visibility: visible;
    }
  }
}
