// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'acumin-pro', sans-serif;
$link-font: 'acumin-pro-wide', sans-serif;


// Text Colors Map
$type-colors: (
  'white':    ( white ),
  'grey':     ( grey ),
  'darkgrey': ( darkgrey ),
  'blue':   ( blue ),
  'green':    ( green ),
  'yellow':   ( yellow ),
);
