// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  min-width: 320px;
}

.header {
  padding: $spacer-m;
  background-color: $white;

  &__logo {
    width: 25%;
    z-index: 1001;

    @include media($large) {
      width: 100%;
      max-width: 175px;
    }
  }
}

.nav {

    @include media($large) {
      display: flex;
      justify-content: space-between;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media($large) {
    width: auto;
  }
}

.menu {
  list-style: none;
  display: none;
  background-color: $white;
  transition: 2s display ease-in-out;
  text-align: center;

  @include media($large) {
    display: flex;
    align-items: center;
  }

  &--active {
    background-color: $white;
    display: block;
    transition: 2s display ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000; // Modal z-index at 9999
  }

  &--item {
    padding: 0 0 $spacer-m 0;

    @include media($large) {
      display: inline-block;

      &:not(:last-child) {
        padding: 0 $spacer-lg 0 0;
      }

      &:last-child {
        padding: 0 $spacer-xs 0 0;
      }
    }
  }

  &--toggle {
    cursor: pointer;

      @include media($large) {
      display: none;
    }

    &:hover {
      color: $green;
    }
  }
}

.footer {
  width: 100%;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  // padding: $spacer-m;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 100%;
    max-width: $spacer-xxxl;
    margin: auto;
    margin-top: $spacer-lg;
    padding-bottom: $spacer-s;
  }

  &__heading {
    display: block;
    align-self: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: $spacer-m;
    text-align: center;

    @include media($large) {
      flex-direction: row;
      display: inline-flex;
      justify-content: center;
    }

    &__list {
      list-style-type: none;

      &__item {
      padding: $spacer-s;

        @include media($large) {
          display: inline-flex;
          padding: $spacer-lg;
        }
      }
    }
  }

  &__icons {
    width: 100%;
    max-width: 32px;
    display: inline-flex;
    padding: $spacer-lg $spacer-m;
  }

  &__disclaimer {
    width: 100%;
    text-align: center;
  }
}

#scrollUp {
  bottom: $spacer-m;
  right: $spacer-m;
  padding: $spacer-s $spacer-m;
  background: rgba(0,31,96,.7);
  color: $white;
}

.landing {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: $green;

  &__title {
    margin-top: auto;
    padding-top: $spacer-xxl;
    align-self: center;
    text-shadow: 1px 1px 2px #454545;
  }

  &__logo {
    width: 75%;
    max-width: 500px;
    align-self: flex-end;
    padding: 0 $spacer-xlg $spacer-xxl 0;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacer-lg;
  margin-top: $spacer-xlg;
  padding: $spacer-xxl 0;

  @include media($large) {
    grid-template-columns: 40% 50%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: $spacer-s;
  }
}

.info__item {

  &--1 {
    width: 60%;
    justify-self: center;
    padding-top: $spacer-m;
    max-width: 400px;
    padding-top: $spacer-lg;

    @include media($large) {
      grid-column: 1/2;
      width: 75%;
      max-width: 500px;
      justify-self: center;
      align-self: center;
    }
  }

  &--2 {

      @include media($large) {
        grid-column: 2/3;
        align-self: center;
        justify-self: start;
    }
  }
}

.cta {
  text-align: center;

  &__title {
  padding: $spacer-lg 0;
  }

  &__direction {
    padding: $spacer-m $spacer-s 0 0;

    @include media($medium) {
      padding: $spacer-m $spacer-xxxl;
    }
  }

  &__image {
    max-width: 250px;
    display: block;
    margin: auto;
    padding: $spacer-lg;

    @include media($medium) {
      max-width: 350px;
      padding: $spacer-xlg 0;
    }

  }
}

.index__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @include media($large) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
  }
}

.index__item {
  &--1 {

      @include media($large) {
        justify-self: end;
      }
  }

  &--2  {
    padding-top: $spacer-m;

    @include media($large) {
      padding-top: $spacer-xs;
    }
  }

  &--3 {

    @include media($large) {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  &--4 {

    @include media($large) {
      grid-column-start: 1;
      grid-row-start: 2;
      justify-self: end;
    }
  }

  &__image {
    width: 100%;
    max-width: 1000px;
  }

}

.about__grid {
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: $spacer-lg;

  @include media($large) {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: $spacer-xs;
  }
}

.about__item {

  &--1 {
    padding-left: $spacer-s;

    @include media($large) {
      grid-column: 1/5;
    }
  }

  &--2 {
    padding-left: $spacer-s;

    @include media($large) {
      grid-column: 1/5;
    }
  }

  &--3 {
    justify-self: center;
    align-self: end;
    padding-top: $spacer-xxl;

    @include media($large) {
      grid-column: 1/2;
      justify-self: end;
      align-self: center;
    }
  }

  &--4 {
    background-color: $blue;
    color: $white;
    padding: $spacer-s;
    border-radius: $spacer-lg;
    width: 90%;
    justify-self: center;
    align-self: start;
    text-align: center;

    @include media($large) {
      grid-column: 2/4;
      width: 100%;
      justify-self: start;
      align-self: center;
      max-width: 900px;
      text-align: left;
    }
  }

  &--5 {
    width: 60%;
    justify-self: center;
    padding-top: $spacer-m;
    max-width: 400px;
    padding-top: $spacer-xxl;

    @include media($large) {
      grid-column: 4/5;
      grid-row: 3/6;
      width: 65%;
      max-width: 500px;
      justify-self: start;
      align-self: center;
    }
  }

  &__image {
    width: 100%;
    max-width: $spacer-xxxl;
  }
}

.testimonials {
  padding: $spacer-xlg 0;

  &__title {
  text-align: center;
  padding-top: $spacer-lg;
  }
}

.item-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacer-s 0;

  @include media($medium) {
    padding: $spacer-s;
  }

  &--testimonial {
    margin: $spacer-s 0;
  }
}

.contact__main {
  width: 95%;
  min-width: 320px;
  max-width: 890px;
  margin: auto;
  margin-top: $spacer-m;
  margin-bottom: $spacer-m;
  padding: $spacer-lg 0 $spacer-lg 0;
  opacity: .95;

  &__title {
    text-align: center;
  }

  &__intro {
    text-align: center;
  }

  &__actions {
    text-align: center;

    .button {
      margin-right: $spacer-s;
    }
  }
}
