// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  // width: 100%;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $yellow;

  &__logo {
    width: 25%;
    max-width: 175px;
    padding: $spacer-s;
    align-items: flex-start;
    position: absolute;
  }

  &__nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: $spacer-m;
    background-color: $white;

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        display: inline-flex;
        padding: $spacer-s;
        align-items: flex-end;
      }
    }
  }

  &__signin {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.modal__trigger-btn {
}

.landing {
  height: 75vh;
  background-color: $white;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: auto;
    padding-top: $spacer-xxl;
    align-self: center;
    text-shadow: 1px 1px 2px #454545;
  }

  &__logo {
    width: 75%;
    max-width: 500px;
    align-self: flex-end;
    padding: 0 $spacer-xlg $spacer-xxl 0;
  }
}

.index__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @include media($medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.index__item {
  &--1 {

  }

  &--2 img {
    width: 100%;
    max-width: 1000px;
  }

  &--3 {

    @include media($medium) {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  &--4 img {
    width: 100%;
    // margin: auto;
    max-width: 1000px;

    @include media($medium) {
      grid-column-start: 1;
      grid-row-start: 2;
      padding-top: $spacer-s;
    }
  }

  &--5 {
    padding-top: $spacer-m;

    @include media($medium) {
      padding-top: 100px;
    }
  }

  &--6 {
      max-width: 400px;
      width: 80%;
      margin: auto;
      padding: $spacer-xlg $spacer-lg;

      @include media($medium) {
        -moz-transform: rotate(5deg) translateX(10px) translateY(10px);
        -webkit-transform: rotate(5deg) translateX(10px) translateY(10px);
        -o-transform: rotate(5deg) translateX(10px) translateY(10px);
        -ms-transform: rotate(5deg) translateX(10px) translateY(10px);
        transform: rotate(5deg) translateX(10px) translateY(10px);
      }
    }
}

.about__grid {

  svg {
    width: 15%;
  }

}

.contact__main {
  width: 95%;
  min-width: 320px;
  max-width: 890px;
  margin: auto;
  margin-top: $spacer-m;
  margin-bottom: $spacer-m;
  padding: $spacer-lg 0 $spacer-lg 0;
  opacity: .95;

  &__title {
    text-align: center;
  }

  &__intro {
    text-align: center;
  }

  &__actions {
    text-align: center;

    .button {
      margin-right: $spacer-s;
    }
  }
}

.testimonials {
  width: 100%;

  &__title {
  text-align: center;
  padding-top: $spacer-lg;
  }
}

.item-container {
  margin: $spacer-m;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacer-s;

  &--testimonial {
    margin: $spacer-m 0;
  }
}

.cta {
  text-align: center;

  &__title {
  padding: $spacer-lg 0;
  }

  &__direction {
    padding: $spacer-m $spacer-s 0 0;
  }

  &__image {
    max-width: 250px;
    display: block;
    margin: auto;
    padding: $spacer-lg;

    @include media($medium) {
      max-width: 350px;
      padding: $spacer-xlg 0;
    }

  }
}

.footer {
  width: 100%;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  // padding: $spacer-m;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 100%;
    max-width: 100px;
    margin: auto;
    margin-top: $spacer-lg;
    padding-bottom: $spacer-s;
  }

  &__heading {
    diplay: block;
    align-self: center;

  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: $spacer-m;
    text-align: center;

    @include media($large) {
      flex-direction: row;
      display: inline-flex;
      justify-content: center;
    }

    &__list {
      list-style-type: none;

      &__item {
      padding: $spacer-s;

        @include media($large) {
          display: inline-flex;
          padding: $spacer-lg;
        }
      }
    }
  }

  &__icons {
    width: 100%;
    max-width: 32px;
    display: inline-flex;
    padding: $spacer-lg $spacer-m;
  }

  &__disclaimer {
    width: 100%;
    text-align: center;
  }
}
