// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  // width: 100%;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $yellow;

  &__logo {
    width: 25%;
    max-width: 175px;
    padding: $spacer-s;
    align-items: flex-start;
    position: absolute;
  }

  &__nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: $spacer-m;
    background-color: $yellow;

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        display: inline-flex;
        padding: $spacer-s;
        align-items: flex-end;
      }
    }
  }
}

.landing {
  height: 75vh;
  background-color: $white;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;

  &__title {
      margin-top: auto;
      padding-top: $spacer-xxl;
      align-self: center;
  }

  &__logo {
    width: 75%;
    max-width: 500px;
    align-self: flex-end;
    padding: 0 $spacer-xlg $spacer-xxl 0;
  }
}

.main {
  display: grid;
  margin: $spacer-m $reset-0;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacer-m;
  padding: $spacer-s;

  &__article {
      width: 100%;
      display: inline-grid;

    &__article__image {
      display: inline-grid;
      width: 25%;
      max-width: 500px;
      margin: auto;
    }
  }
}

.cta {
  display: grid;
  jusify-content: center;
  grid-template-columns: 1fr;

    &__item--1 {
      text-align: center;
      padding: $spacer-lg;
    }

    &__item--2 {
      margin-left: $spacer-xxl;
      margin-right: $spacer-xxl;

    }

    &__item--3 {
      text-align: center;
      padding: $spacer-lg;
    }

    &__item--4 {
      text-align: center;
      padding: $spacer-lg;
    }

    &__item--5 {
      margin-left: $spacer-xxl;
      margin-right: $spacer-xxl;
    }

    &__item--6 {
      width: 100%;
      margin: auto;
      max-width: 350px;
      padding: $spacer-lg 0;
    }
}

.contact__main {
  width: 95%;
  min-width: 320px;
  max-width: 890px;
  margin: auto;
  margin-top: $spacer-m;
  margin-bottom: $spacer-m;
  padding: $spacer-lg 0 $spacer-lg 0;
  opacity: .95;

  &__title {
    text-align: center;
  }

  &__intro {
    text-align: center;
  }

  &__button {
    display: inline;
    margin-left: $spacer-m;
  }
}

.footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  // padding: $spacer-m;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 100%;
    max-width: 100px;
    margin: auto;
    margin-top: $spacer-m;
  }

  &__heading {
    diplay: block;
    align-self: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: $spacer-s;
    text-align: center;

    @include media($large) {
      flex-direction: row;
      display: inline-flex;
      justify-content: center;

    }

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        padding: $spacer-s;

        @include media($large) {
          flex-direction: row;
          display: inline-flex;
          justify-content: center;
        }
      }
    }
  }

  &__icons {
    width: 10%;
    max-width: 30px;
    display: inline-flex;
    padding: $spacer-s;
  }

  &__disclaimer {
    width: 100%;
    text-align: center;
  }
}
