// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  // width: 100%;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $yellow;

  &__logo {
    width: 25%;
    max-width: 175px;
    padding: $spacer-s;
    align-items: flex-start;
    position: absolute;
  }

  &__nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: $spacer-m;
    background-color: $yellow;

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        display: inline-flex;
        padding: $spacer-s;
        align-items: flex-end;
      }
    }
  }
}

.landing {
  height: 75vh;
  background-color: $white;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;

  &__title {
      margin-top: auto;
      padding-top: $spacer-xxl;
      align-self: center;
  }

  &__logo {
    width: 75%;
    max-width: 500px;
    align-self: flex-end;
    padding: 0 $spacer-xlg $spacer-xxl 0;
  }
}

.index__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.index__grid {

    // &--img img {
    //   width: 100%;
    //   max-width: 650px;
    //   vertical-align: middle;
    // }
}

.index__item {
  &--1 {

  }

  &--2 {
    width: 100%;
    // margin: auto;
    max-width: 1000px;
  }

  &--3 {

  }

  &--4 {
    width: 100%;
    // margin: auto;
    max-width: 1000px;
  }

  &--5 {

  }

  &--6 {
      width: 80%;
      max-width: 500px;
      align-self: center;
    }
}

.cta {
  display: grid;
  jusify-content: center;
  grid-template-columns: 1fr;
}

.cta__item {

  &--1 {
    text-align: center;
    padding: $spacer-lg;
  }

  &--2 {
    margin-left: $spacer-xxl;
    margin-right: $spacer-xxl;

  }

  &--3 {
    text-align: center;
    padding: $spacer-lg;
  }

  &--4 {
    text-align: center;
    padding: $spacer-lg;
  }

  &--5 {
    margin-left: $spacer-xxl;
    margin-right: $spacer-xxl;
  }

  &--6 {
    width: 100%;
    margin: auto;
    max-width: 350px;
    padding: $spacer-lg 0;
  }
}

.contact__main {
  width: 95%;
  min-width: 320px;
  max-width: 890px;
  margin: auto;
  margin-top: $spacer-m;
  margin-bottom: $spacer-m;
  padding: $spacer-lg 0 $spacer-lg 0;
  opacity: .95;

  &__title {
    text-align: center;
  }

  &__intro {
    text-align: center;
  }

  &__button {
    display: inline;
    margin-left: $spacer-m;
  }
}

.footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  // padding: $spacer-m;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 100%;
    max-width: 100px;
    margin: auto;
    margin-top: $spacer-lg;
    padding-bottom: $spacer-s;
  }

  &__heading {
    diplay: block;
    align-self: center;

  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: $spacer-m;
    text-align: center;

    @include media($large) {
      flex-direction: row;
      display: inline-flex;
      justify-content: center;
    }

    &__list {
      list-style-type: none;

      &__item {
      padding: $spacer-s;

        @include media($large) {
          display: inline-flex;
          padding: $spacer-lg;
        }
      }
    }
  }

  &__icons {
    width: 100%;
    max-width: 32px;
    display: inline-flex;
    padding: $spacer-lg $spacer-m;
  }

  &__disclaimer {
    width: 100%;
    text-align: center;
  }
}
