// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: $primary-font;
}

.container {
  min-height: 100vh;
  min-width: 320px;
}

.header {
  display: flex;
  flex-direction: column;
  // width: 100%;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $yellow;

  &__logo {
    width: 25%;
    max-width: 175px;
    padding: $spacer-s;
    align-items: flex-start;
    position: absolute;
  }

  &__nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: $spacer-m;
    background-color: $yellow;

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        display: inline-flex;
        padding: $spacer-s;
        align-items: flex-end;
      }
    }
  }
}

.landing {
  height: 75vh;
  background-color: $white;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;

  &__title {
      margin-top: auto;
      padding-top: $spacer-xxl;
      align-self: center;
  }

  &__logo {
    width: 75%;
    max-width: 500px;
    align-self: flex-end;
    padding: 0 $spacer-xlg $spacer-xxl 0;
  }
}

.main {
  display: grid;

}
// TODO: Create into article class
// .item-container {
//   margin: $spacer-m $reset-0;
//   display: inline-flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   padding: $spacer-s;
// }

.main__contact {
  width: 95%;
  min-width: 320px;
  max-width: 890px;
  margin: auto;
  margin-top: $spacer-m;
  margin-bottom: $spacer-m;
  padding: $spacer-lg 0 $spacer-lg 0;
  opacity: .9;

  &__title {
    text-align: center;
  }

  &__intro {
    text-align: center;
  }
}

.footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  // padding: $spacer-m;

  &__logo {
    width: 15%;
    max-width: 100px;
    align-self: center;
  }

  &__heading {
    diplay: block;
    align-self: center;
  }

  &__icons {
    width: 10%;
    max-width: 30px;
    display: inline-flex;
    padding: $spacer-s;
  }

  &__disclaimer {
    width: 100%;
    text-align: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: $spacer-s;
    text-align: center;
    // flex-wrap: wrap;

    // @include media($large) {
    //   flex-direction: row;
    //   display: inline-flex;
    // }

    &__list {
      list-style-type: none;

      &__item {
        text-decoration: none;
        // display: inline-flex;
        padding: $spacer-s;
      }
    }
  }
}
