// Base Typography Stylesheet
// ========================================
html {
  font-size: 1rem;

  @include media($large) {
    font-size: 1.25rem;
  }
}

h2, h3, h4, h5, h6 {
  color: $darkgrey;
}

h1 {
  @include font-type($primary-font, normal, 500);
  font-size: 2.7rem;
  padding: $spacer-s;
}

h2 {
  @include font-type($primary-font, normal, 500);
  font-size: 2.4rem;
  padding: $spacer-s;
}

h3 {
  @include font-type($primary-font, normal, 500);
  font-size: 1.8rem;
  padding: $spacer-s;
  margin-bottom: $spacer-xs;
}

h4 {
  @include font-type($primary-font, normal, 500);
  font-size: 1.2rem;
  padding: $spacer-s;
  margin-bottom: $spacer-xs;
}

h5 {
  @include font-type($primary-font, normal, 700);
  font-size: .85rem;
  padding: $spacer-s;
}

h6 {
  @include font-type($primary-font, normal, 400);
  font-size: .7rem;
  padding: $spacer-s;
}

p {
  @include font-type($primary-font, normal, 500);
  font-size: 1.25rem;
}

a {
  @include font-type($link-font, normal, 500);
  font-size: .85rem;
  color: $darkgrey;
  text-decoration: none;
  cursor: pointer;

  &:hover {
  color: $green;
  text-decoration: underline;
  }
}

.small-font {
  @include font-type($primary-font, normal, 300);
  font-size: .75rem;
}

.small-buttons {
  @include font-type($primary-font, normal, 700);
  font-size: .875rem;
}

.italic {
  font-style: italic;
}

.cargo {
  font-style: italic;
  font-weight: 900;
}
