// Button Mixin Settings Stylesheet
// ========================================

@mixin button($background-value, $color-value, $border-value) {
  background-color: $background-value;
  color: $color-value;
  border-color: $border-value;
  padding: $spacer-s $spacer-xlg;
  border: 3px solid;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-size: .9rem;
}
