// Button Mixin Settings Stylesheet
// ========================================

@mixin button($background-value, $color-value, $border-value) {
  background-color: $background-value;
  color: $color-value;
  border-color: $border-value;
  font-family: $primary-font;
  padding: $spacer-s $spacer-xlg;
  border: 3px solid;
  border-radius: 25px;
  text-align: center;
}
