// Button Mixin Settings Stylesheet
// ========================================

@mixin button-format ($background-value, $color-value, $border-color) {
  background-color: $background-value;
  color: $color-value;
  border-color: $border-color-value;
  font-family: $primary-font;
  width: 125px;
  padding: $spacer-m;
  border: 3px solid;
  border-radius: 25px;
  text-align: center;
}
