// Button Mixin Settings Stylesheet
// ========================================

@mixin button($background-value, $color-value, $border-value) {

  @include font-type($primary-font, normal, 700);
  background-color: $background-value;
  color: $color-value;
  border-color: $border-value;
  padding: $spacer-s $spacer-lg;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: .9rem;
}
